<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gp2.clubstore.mapper.OrderMapper">
    <!--item不存在时插入-->
    <insert id="insertItem">
        insert into test.order_ (id, userId, productId, productNum)
        VALUES (id, userId, productId, productNum)
    </insert>
    <!--item存在时-->
    <update id="updateItem">
        update test.order_
        set productNum=productNum + #{productNum}
        where productId = #{productId}
          and id = #{id}
    </update>
    <!--查询时直接查询id相同的Item既为一个订单-->
    <!--两个参数时为判断item是否存在-->
    <select id="queryOrder" resultType="Item">
        select * from test.order_ where id=#{id}
        <if test="productId!=null">
            and productId=#{productId}
        </if>
    </select>
</mapper>